<!DOCTYPE html>
<html lang="pt=br">
<head>
    <title>Ecoleta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/home.css">
    <link rel="stylesheet" href="../style/modal.css">

    <link rel="stylesheet" href="../style/responsive.css">



</head>
<body>
   <div id="page-home">
      <div class="content">
         <header class="red ">
            <img src=".../assets/logo.svg" alt="logomarga Ecoleta">
             <a href="../html/create-point.html"> <span></span> cadastre um ponto de coleta</a>
         </header>
         <main>
            <h1>seu marketplace de coleta de residuos</h1>
            <p>Ajudamos pessoa a encontrarpontos de coleta de formas eficiente</p>

            <a href="#"> <span></span> Pesquisa pontos de coletas</a>
         </main>
     </div>
   </div>

   <div id="modal" class="hide">
      <div class="content">
         <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fecha</a>
         </div>
         <form action="">
            <label for="search">Cidade</label>
            <div class="search field">
               <input 
               type="text" 
               name="search" 
               placeholder="Pesquisa por Cidade">
               <button>
                  <img src="../assets/search.svg" alt="">
               </button>
            </div>
         </form>
      </div>
   </div>

   
   <script src="../scripts/index.js"></script>
</body>
</html>
