
@media(max-width: 900px){
   #page-home{
      background-position: 70vw;
   }
   #page-home .content {
      align-items: center;
      text-align: center;
   }
   /*o que ficou bom para mim*/
   #page-home header a {
      position: absolute;
      bottom: 0.5px;
      left: 25%;
      transform: translate(-25%);
      text-align: center;
  }

   /* codigo da aula NLW
   #page-home header a {
      position: absolute;
      bottom: px;

      left: 50%;
      transform: translate(-50%);
   }
   */
   #page-home main {
      align-items: center;
   }
   #page-search-results .cards{
      grid-template-columns: 1fr;
   }
   #page-search-results .cards img{
      height: 250px;
   }

   #page-create-point .field-group {
        flex-direction: column;

   }
   #page-create-point .field-group .field + .field {
       margin-left: 0;
   }
}

@media (min-width:1700px){
   #page-home{
      background-position: 40vw;
   }
}
@media (mix-height: 760px){
   #page-home{
      background-position-y: 200px;
   }
}
